<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Lease Captain - Landing Page</title>
	<meta name="description"
		content="Discover Lease Captain, the best rental management software with advanced tenant and payment tracking. Free demo available!">
	<meta name="author" content="Lease Captain Team">
	<meta name="robots" content="index, follow">
	<meta property="og:title" content="Lease Captain - Advanced Property Management Software">
	<meta property="og:description"
		content="Manage properties effortlessly with Lease Captain's powerful tenant and payment tracking features. Try our free demo today!">
	<meta property="og:image" content="https://leasecaptain.com/images/banner1.jpeg">
	<meta property="og:url" content="https://leasecaptain.com">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Lease Captain - Advanced Property Management Software">
	<meta name="twitter:description"
		content="Manage properties effortlessly with Lease Captain's powerful tenant and payment tracking features. Try our free demo today!">
	<meta name="twitter:image" content="https://leasecaptain.com/images/banner1.jpeg">
	<link rel="canonical" href="https://leasecaptain.com">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="56x56" href="assets/images/1.png">
	<!-- bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css" media="all">
	<!-- carousel CSS -->
	<link rel="stylesheet" href="assets/css/owl.carousel.min.css" type="text/css" media="all">
	<!-- animate CSS -->
	<link rel="stylesheet" href="assets/css/animate.css" type="text/css" media="all">
	<!-- font-awesome CSS -->
	<link rel="stylesheet" href="assets/css/all.min.css" type="text/css" media="all">
	<!-- font-flaticon CSS -->
	<link rel="stylesheet" href="assets/css/flaticon.css" type="text/css" media="all">
	<!-- theme-default CSS -->
	<link rel="stylesheet" href="assets/css/theme-default.css" type="text/css" media="all">
	<!-- meanmenu CSS -->
	<link rel="stylesheet" href="assets/css/meanmenu.min.css" type="text/css" media="all">
	<!-- transitions CSS -->
	<link rel="stylesheet" href="assets/css/owl.transitions.css" type="text/css" media="all">
	<!-- venobox CSS -->
	<link rel="stylesheet" href="venobox/venobox.css" type="text/css" media="all">
	<!-- bootstrap icons -->
	<link rel="stylesheet" href="assets/css/bootstrap-icons.css" type="text/css" media="all">
	<!-- Slick Slider -->
	<link rel="stylesheet" type="text/css" href="assets/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="assets/slick/slick-theme.css">
	<!-- Main Style CSS -->
	<link rel="stylesheet" href="assets/css/style.css" type="text/css" media="all">
	<!-- Dropdown CSS -->
	<link rel="stylesheet" href="assets/css/dropdown.css" type="text/css" media="all">
	<!-- responsive CSS -->
	<link rel="stylesheet" href="assets/css/responsive.css" type="text/css" media="all">
	<!-- rangeslider CSS -->
	<link rel="stylesheet" href="assets/css/rangeslider.css" type="text/css" media="all">
	<!-- modernizr js -->
	<script src="assets/js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>
	<!-- loder -->
	<div class="preloader">
		<div class="circles">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
			<div class="circle5"></div>
			<div class="circle6"></div>
			<div class="circle7"></div>
			<div class="circle8"></div>
			<div class="circle9"></div>
			<div class="circle10"></div>
			<div class="circle11"></div>
			<div class="circle12"></div>
			<div class="circle13"></div>
			<div class="circle14"></div>
			<div class="circle15"></div>
		</div>
	</div>


	<!--==================================================-->
	<!-- Start Header Area -->
	<!--==================================================-->
	<header class="header-area" id="sticky-header">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-3">
					<div class="logo">
						<a href="index.html"><img src="assets/images/2.png"
								style="height: 70px; width: 80px;" alt=""></a>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="header-menu">
						<ul>
							<li><a href="/">Home

								</a>

							</li>
							<li><a href="#about">About</a></li>
							<li><a href="#pricing">Pricing</a></li>
							<li><a href="/services">Services <i class="bi bi-chevron-down"></i></a>
								<div class="sub-menu">
									<ul>
										<li><a href="service.html">Service</a></li>
										<li><a href="service-details.html">Service
												Details</a></li>
									</ul>
								</div>
							</li>
							<li><a href="#">Blog <i class="bi bi-chevron-down"></i></a>
								<div class="sub-menu">
									<ul>
										<li><a href="blog.html">Blog</a></li>
										<li><a href="blog-details.html">Blog Details</a>
										</li>
									</ul>
								</div>
							</li>
							<li><a href="/contacts">contacts</a></li>
						</ul>
						<div class="hamilton-btn">
							<a href="/add-Property">Add Property</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Hamilton Mobile Menu Area -->
	<div class="mobile-menu-area sticky-menu" id="navbar">
		<div class="mobile-menu">
			<div class="mobile-logo">
				<a href="/"><img src="assets/images/2.png" style="height: 80px; width: 80px;" alt=""></a>
			</div>
			<div class="side-menu-info">
				<div class="sidebar-menu">
					<a class="navSidebar-button" href="#"><i class="bi bi-justify-right"></i></a>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Header Area -->
	<!--==================================================-->

	<!--==================================================-->
	<!-- Start Breatcome Area -->
	<!--==================================================-->
	<!--==================================================-->
<!-- Breadcrumb Area -->
<!--==================================================-->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="breadcrumb-content text-center">
                    <ul class="breadcrumb-navigation">
                        <li><a href="index.html">Home</a></li>
                        <li>404 Error</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==================================================-->
<!-- End Breadcrumb Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Error Page Area -->
<!--==================================================-->
<div class="error-page-area">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <div class="error-image">
                    <img src="/assets/images/resource/404.png" alt="404 Error" class="img-fluid">
                </div>
                <div class="error-message">
                    <p>We're sorry, but the page you're looking for doesn't exist.</p>
                </div>
                <div class="error-btn">
                    <a href="/" class="btn btn-primary">Go Back Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==================================================-->
<!-- End Error Page Area -->
<!--==================================================-->



	<!--==================================================-->
	<!-- Start Sidebar Area -->
	<!--==================================================-->
	<div class="sidebar-group info-group">
		<div class="sidebar-widget">
			<div class="sidebar-widget-container">
				<div class="widget-heading">
					<a href="#" class="close-side-widget">
						<i class="bi bi-x-lg"></i>
					</a>
				</div>
				<div class="sidebar-textwidget">
					<div class="sidebar-info-contents">
						<div class="content-inner">
							<div class="sidebar-logo">
								<a href="index.html"><img src="assets/images/footer-logo.png" alt="logo"></a>
							</div>
							<div class="sidebar-widget-menu">
								<ul>
									<li class="dropdown"><a href="#" data-toggle="dropdown">Home <i
												class="icon-arrow"></i></a>
										<ul class="dropdown-menu">
											<li><a href="index.html">Home</a></li>
											<li><a href="index-two.html">Home Two</a></li>
										</ul>
									</li>
									<li class="dropdown"><a href="about.html" data-toggle="dropdown">About</a></li>
									<li class="dropdown"><a href="#" data-toggle="dropdown">Service <i
												class="icon-arrow"></i></a>
										<ul class="dropdown-menu">
											<li><a href="service.html">Services</a></li>
											<li><a href="service-details.html">Services Details</a></li>
										</ul>
									</li>
									<li class="dropdown"><a href="#project" data-toggle="dropdown">Pages <i
												class="icon-arrow"></i></a>
										<ul class="dropdown-menu">
											<li><a href="project-grid.html">Project</a></li>
											<li><a href="project-details.html">Project Details</a></li>
											<li><a href="team.html">Team</a></li>
											<li><a href="team-detials.html">Team Details</a></li>
											<li><a href="faq.html">Faq Page</a></li>
											<li><a href="contact.html">Contact</a></li>
											<li><a href="error.html">Error Page</a></li>
										</ul>
									</li>
									<li class="dropdown"><a href="#" data-toggle="dropdown">BLog <i
												class="icon-arrow"></i></a>
										<ul class="dropdown-menu">
											<li><a href="blog.html">Blog</a></li>
											<li><a href="blog-details.html">Blog Details</a></li>
										</ul>
									</li>
									<li class="dropdown"><a href="contact.html" data-toggle="dropdown">Contact</a></li>
								</ul>
							</div>
							<div class="contact-info">
								<h2>Contact Info</h2>
								<ul class="list-style-one">
									<li><i class="bi bi-geo-alt-fill"></i>6391 Elgin St. Celina, Delaware</li>
									<li><i class="bi bi-telephone-fill"></i>(+001) 123-456-789</li>
									<li><i class="bi bi-envelope"></i> info@example.com</li>
									<li><i class="bi bi-alarm-fill"></i> Week Days: 08.00 to 10.00
									</li>
								</ul>
							</div>
							<ul class="social-box">
								<li class="facebook"><a href="#" class="fab fa-facebook-f"></a></li>
								<li class="twitter"><a href="#" class="fab fa-instagram"></a></li>
								<li class="linkedin"><a href="#" class="fab fa-twitter"></a></li>
								<li class="instagram"><a href="#" class="fab fa-pinterest-p"></a></li>
								<li class="youtube"><a href="#" class="fab fa-linkedin-in"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Sidebar Area -->
	<!--==================================================-->

	<!--==================================================-->
	<!-- Start Footer Area -->
	<!--==================================================-->
	<div class="footer-area" style="background-color: #004aad; color: #ffffff;">
		<div class="container">
			<div class="row">
				<!-- Company Info -->
				<div class="col-lg-3 col-md-6">
					<div class="footer-widget">
						<div class="footer-widget-logo">
							<a href="index.html"><img src="assets/images/1.png"
									alt="Lease Captain Logo"></a>
						</div>
						<div class="footer-widget-text">
							<p style="color: #ffffff;">Lease Captain offers innovative rental
								management solutions, ensuring smooth operations for landlords
								and tenants alike.</p>
						</div>
						<div class="footer-social-title">
							<h4 style="color: #ffffff;">Follow Us</h4>
						</div>
						<div class="footer-social">
							<ul style="display: flex; gap: 10px; padding: 0; list-style: none;">
								<li><a href="#"><i class="fab fa-facebook-f"
											style="color: #ffffff;"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"
											style="color: #ffffff;"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"
											style="color: #ffffff;"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin-in"
											style="color: #ffffff;"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Navigation Links -->
				<div class="col-lg-3 col-md-6">
					<div class="footer-widget">
						<div class="footer-widget-title">
							<h4 style="color: #ffffff;">Quick Links</h4>
						</div>
						<div class="footer-widget-menu">
							<ul style="list-style: none; padding: 0;">
								<li><a href="#" style="color: #ffffff;"><i
											class="bi bi-chevron-double-right"></i>
										Home</a></li>
								<li><a href="#" style="color: #ffffff;"><i
											class="bi bi-chevron-double-right"></i>
										About Us</a></li>
								<li><a href="#" style="color: #ffffff;"><i
											class="bi bi-chevron-double-right"></i>
										Services</a></li>
								<li><a href="#" style="color: #ffffff;"><i
											class="bi bi-chevron-double-right"></i>
										Contact</a></li>
								<li><a href="#" style="color: #ffffff;"><i
											class="bi bi-chevron-double-right"></i>
										FAQ</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Services -->
				<div class="col-lg-3 col-md-6">
					<div class="footer-widget">
						<div class="footer-widget-title">
							<h4 style="color: #ffffff;">Our Services</h4>
						</div>
						<div class="footer-widget-menu">
							<ul style="list-style: none; padding: 0;">
								<li><a href="#" style="color: #ffffff;"><i
											class="bi bi-chevron-double-right"></i>
										Seamless Payment Processing</a></li>
								<li><a href="#" style="color: #ffffff;"><i
											class="bi bi-chevron-double-right"></i>
										Tenant Records</a></li>
								<li><a href="#" style="color: #ffffff;"><i
											class="bi bi-chevron-double-right"></i>
										Advanced Invoice Management</a></li>
								<li><a href="#" style="color: #ffffff;"><i
											class="bi bi-chevron-double-right"></i>
										SMS/Email Communication</a></li>
								<li><a href="#" style="color: #ffffff;"><i
											class="bi bi-chevron-double-right"></i>
										Automate Routine Tasks</a></li>
								<li><a href="#" style="color: #ffffff;"><i
											class="bi bi-chevron-double-right"></i>
										Generate Comprehensive Reports</a></li>
							</ul>
						</div>
					</div>
				</div>

				<!-- Footer Bottom -->
				<div class="row mt-4">
					<div class="col-lg-12 text-center">
						<p style="color: #ffffff;">&copy; 2024 Lease Captain. All Rights Reserved |
							Powered by <a href="/" target="_blank"
								style="color: #0051ff; text-decoration: underline;">Vickins
								Technologies</a></p>
					</div>
				</div>
			</div>
		</div>
		<!--==================================================-->
		<!-- End Footer Area -->
		<!--==================================================-->




		<!--==================================================-->
		<!-- Start Search Popup Area -->
		<!--==================================================-->
		<div class="search-popup">
			<button class="close-search style-two"><span class="flaticon-multiply"><i
						class="far fa-times-circle"></i></span></button>
			<button class="close-search"><i class="fas fa-arrow-up"></i></button>
			<form method="post" action="#">
				<div class="form-group">
					<input type="search" name="search-field" value="" placeholder="Search Here"
						required="">
					<button type="submit"><i class="fa fa-search"></i></button>
				</div>
			</form>
		</div>
		<!--==================================================-->
		<!-- End Search Popup Area -->
		<!--==================================================-->

		<!--==================================================-->
		<!-- Start scrollup section Area -->
		<!--==================================================-->
		<!-- scrollup section -->
		<div class="prgoress_scrollup">
			<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
				<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
			</svg>
		</div>

		<!--==================================================-->
		<!-- End scrollup section Area -->
		<!--==================================================-->


		<!-- jquery js -->
		<script src="/assets/js/vendor/jquery-3.6.2.min.js"></script>

		<script src="/assets/js/popper.min.js"></script>

		<!-- bootstrap js -->
		<script src="/assets/js/bootstrap.min.js"></script>

		<!-- carousel js -->
		<script src="/assets/js/owl.carousel.min.js"></script>

		<!-- counterup js -->
		<script src="/assets/js/jquery.counterup.min.js"></script>

		<!-- waypoints js -->
		<script src="/assets/js/waypoints.min.js"></script>

		<!-- wow js -->
		<script src="/assets/js/wow.min.js"></script>

		<!-- imagesloaded js -->
		<script src="/assets/js/imagesloaded.pkgd.min.js"></script>

		<!-- venobox js -->
		<script src="/venobox/venobox.js"></script>

		<!--  animated-text js -->
		<script src="/assets/js/animated-text.js"></script>

		<!-- venobox min js -->
		<script src="/venobox/venobox.min.js"></script>

		<!-- isotope js -->
		<script src="/assets/js/isotope.pkgd.min.js"></script>

		<!-- jquery meanmenu js -->
		<script src="/assets/js/jquery.meanmenu.js"></script>

		<!-- jquery scrollup js -->
		<script src="/assets/js/jquery.scrollUp.js"></script>

		<!-- Slick Slider -->
		<script src="/assets/slick/slick.min.js"></script>

		<script src="/assets/js/jquery.barfiller.js"></script>
		<!-- jquery js -->

		<!-- ragrslider js -->
		<script src="/assets/js/rangeslider.js"></script>

		<!-- ragrslider js -->
		<script src="/assets/js/mixitup.min.js"></script>

		<!-- theme js -->
		<script src="/assets/js/theme.js"></script>

		<!-- scroll js -->
		<script src="/assets/js/script.js"></script>

		<script>
			function changeToggle() {
				let toggle = document.getElementById("toggle");
				let h3 = document.getElementsByClassName("h3");
				if (toggle.style.float != "right") {
					toggle.style.float = "right";
					h3[0].innerHTML = "<span>$</span>350";
					h3[1].innerHTML = "<span>$</span>240";
					h3[2].innerHTML = "<span>$</span>480";
				} else {
					toggle.style.float = "none";
					h3[0].innerHTML = "<span>$</span>217";
					h3[1].innerHTML = "<span>$</span>144";
					h3[2].innerHTML = "<span>$</span>359";
				}
			}
		</script>

</body>
</html>