<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lease Captain - Sign Up</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="icon" href="/images/icon.png" type="image/png">
  <style>
    body {
      background-color: #f7f7f7;
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      flex-direction: column;
    }

    h1 {
      color: #003366;
      text-align: center;
      margin-bottom: 20px;
      font-size: 24px;
    }

    .form-label {
      font-weight: bold;
      color: #003366;
      margin-bottom: 5px;
      font-size: small;
    }

    .form-group {
      margin-bottom: 20px;
      width: 500px;
      font-size: small;
    }

    input[type="password"], input[type="text"], input[type="email"], input[type="tel"], select {
      width: 100%;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      font-size: small;
    }

    input[type="password"]:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, select:focus {
      outline: none;
      border-color: #003366;
      font-size: small;
    }

    .btn-submit {
      background-color: #003366;
      color: white;
      border: none;
      padding: 5px;
      width: 100%;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
      text-align: center;
      font-size: small;
    }

    .btn-submit:hover {
      background-color: #005bb5;
    }

    .forgot-password {
      text-align: right;
    }

    .forgot-password a {
      color: #003366;
      text-decoration: none;
    }

    .forgot-password a:hover {
      text-decoration: underline;
    }

    .sign-up-link {
      text-align: center;
      margin-top: 15px;
    }

    .sign-up-link a {
      color: #003366;
      font-weight: bold;
      text-decoration: none;
    }

    .sign-up-link a:hover {
      text-decoration: underline;
    }

    .logo {
      text-align: center;
      margin-bottom: 20px;
    }

    .logo img {
      width: 200px;
    }

    /* Responsive design */
    @media (max-width: 768px) {
      h1 {
        font-size: 20px;
      }

      .logo img {
        width: 150px;
      }
    }

    @media (max-width: 576px) {
      h1 {
        font-size: 23px;
      }

      .form-group {
        max-width: 350px;
      }

      .btn-submit {
        font-size: 0.9rem;
      }

      .logo img {
        width: 150px;
      }
    }
  </style>
</head>

<body>
  <div class="signup-container">
    <div class="logo"><a href="/"><img src="/images/logo2.png" alt="Lease Captain Logo"></a></div>
    <h5><strong>Fill in your details to create account</strong></h5>

    <!-- Error Message -->
    <% if (error && error.length > 0) { %>
      <div class="alert alert-danger" style="color: red; font-size: 0.7rem;">
        <%= error %>
      </div>
    <% } %>

    <!-- Success Message -->
    <% if (success && success.length > 0) { %>
      <div class="alert alert-success" style="color: green; font-size: 0.7rem;">
        <%= success %>
      </div>
    <% } %>

    <form id="signupForm" action="/signup" method="POST">
      <div class="form-group">
        <label for="email"><i class="fas fa-envelope"></i> Email</label>
        <input type="email" name="email" id="email" placeholder="e.g example@domain.com" required>
      </div>

      <div class="form-group">
        <label for="username"><i class="fas fa-user"></i> Username</label>
        <input type="text" name="username" id="username" placeholder="e.g John" required>
      </div>

      <div class="form-group">
        <label for="phone"><i class="fas fa-phone"></i> Phone Number</label>
        <input type="tel" name="phone" id="phone" placeholder="0768****69" required>
      </div>

      <!-- Password -->
      <div class="form-group">
        <label for="password"><i class="fas fa-lock"></i> Password</label>
        <input type="password" name="password" id="password" placeholder="Create your password" required>
      </div>

      <div class="form-group">
        <label for="confirm-password"><i class="fas fa-lock"></i> Confirm Password</label>
        <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm password" required>
        <small id="passwordHelp" style="color: red; display: none;">Passwords do not match.</small>
      </div>

      <script>
        const password = document.getElementById('password');
        const confirmPassword = document.getElementById('confirm-password');
        const passwordHelp = document.getElementById('passwordHelp');

        confirmPassword.addEventListener('input', () => {
          if (password.value !== confirmPassword.value) {
            passwordHelp.style.display = 'block';
          } else {
            passwordHelp.style.display = 'none';
          }
        });

        document.querySelector('form').addEventListener('submit', (e) => {
          if (password.value !== confirmPassword.value) {
            e.preventDefault();
            alert('Passwords do not match!');
          }
        });
      </script>

      <div class="form-group">
        <label for="plan"><i class="fas fa-layer-group"></i> Select Your Plan</label>
        <select name="plan" id="plan" class="form-control" required>
          <option value="Basic">Demo</option>
          <option value="Standard">Standard (Up to 20 Units) - Ksh. 1,499/month</option>
          <option value="Pro">Pro (Up to 50 Units) - Ksh. 2,999/month</option>
          <option value="Advanced">Advanced (Up to 100 Units) - Ksh. 4,499/month</option>
          <option value="Enterprise">Enterprise (Up to 150 Units) - Ksh. 6,999/month</option>
          <option value="Premium">Custom (Unlimited Units) - Contact Us</option>
        </select>
      </div>     
      <script>
        const urlParams = new URLSearchParams(window.location.search);
        const selectedPlan = urlParams.get('plan');
        if (selectedPlan) {
          document.getElementById('plan').value = selectedPlan;
        }
      </script>

      <button type="submit" id="signupButton" class="btn-submit">
        <i class="fas fa-user-plus"></i> Sign Up
      </button>
    </form>
  </div>
  <p>Already have an account? <a href="/login"><i class="fas fa-sign-in-alt"></i><strong>Login</strong></a></p>
  <script>
    // Show/Hide Password Functionality
    document.getElementById('showPassword').addEventListener('change', function () {
      const passwordField = document.getElementById('password');
      const confirmPasswordField = document.getElementById('confirm-password');
      const fieldType = this.checked ? 'text' : 'password';
      passwordField.type = fieldType;
      confirmPasswordField.type = fieldType;
    });
  </script>
</body>

</html>
